<div class="index-lists-page">
  <h1><%= t('lists_page.index.title') %></h1>

  <% if @lists.any? %>
    <ul id="lists">
      <% current_user.own_lists.each do |list| %>
        <li>
          <div class="list-info">
            <%= link_to list.name, list_path(list), class: "list-name" %>
            <small class="list-timestamp">
              <%= t('lists_page.index.created_on') %>: <%= list.created_at.strftime(t('lists_page.index.date_format')) %>
            </small>
          </div>
          <%= button_to list_path(list), method: :delete, data: { turbo_confirm: t('lists_page.index.delete_confirm') }, class: 'button-index-list-delete' do %>
            <span class="button-index-list-delete__text"><%= t('lists_page.index.delete_button') %></span>
            <span class="button-index-list-delete__icon">
              <svg class="svg" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg">
                <title><%= t('lists_page.index.delete_button') %></title>
                <path d="M112,112l20,320c.95,18.49,14.4,32,32,32H348c17.67,0,30.87-13.51,32-32l20-320"
                      style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
                <line x1="80" x2="432" y1="112" y2="112"
                      style="stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line>
                <path d="M192,112V72h0a23.93,23.93,0,0,1,24-24h80a23.93,23.93,0,0,1,24,24h0v40"
                      style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
                <line x1="256" x2="256" y1="176" y2="400"
                      style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line>
                <line x1="184" x2="192" y1="176" y2="400"
                      style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line>
                <line x1="328" x2="320" y1="176" y2="400"
                      style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line>
              </svg>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="no-lists-text">
      <%= t('lists_page.index.no_lists') %>
    </p>
    <%= link_to new_list_path(current_user), class: 'index-create-new-list-btn' do %>
      <span>
        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path>
        </svg>
        <%= t('lists_page.index.create_new') %>
      </span>
    <% end %>
  <% end %>

  <hr class="section-divider" />

  <h1><%= t('lists_page.index.shared_lists') %></h1>

  <% if current_user.saved_lists.any? %>
    <ul id="friends-lists">
      <% current_user.saved_lists.each do |saved_list| %>
        <li class="shared-list-item">
          <div class="list-info">
            <%= link_to saved_list.list.name, list_path(saved_list.list), class: "list-name" %>
            <small class="list-timestamp">
              <%= t('lists_page.index.shared_on') %>: <%= saved_list.created_at.strftime(t('lists_page.index.date_format')) %>
            </small>
          </div>
          <%= button_to remove_saved_list_path(saved_list.list), method: :delete, class: 'button-index-list-delete', data: { turbo_confirm: t('lists_page.index.delete_confirm') } do %>
            <span class="button-index-list-delete__text"><%= t('lists_page.index.delete_button') %></span>
            <span class="button-index-list-delete__icon">
              <svg class="svg" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg">
                <title><%= t('lists_page.index.delete_button') %></title>
                <path d="M112,112l20,320c.95,18.49,14.4,32,32,32H348c17.67,0,30.87-13.51,32-32l20-320"
                      style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
                <line x1="80" x2="432" y1="112" y2="112"
                      style="stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line>
                <path d="M192,112V72h0a23.93,23.93,0,0,1,24-24h80a23.93,23.93,0,0,1,24,24h0v40"
                      style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
                <line x1="256" x2="256" y1="176" y2="400"
                      style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line>
                <line x1="184" x2="192" y1="176" y2="400"
                      style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line>
                <line x1="328" x2="320" y1="176" y2="400"
                      style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line>
              </svg>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="no-shared-lists-text">
      <%= t('lists_page.index.no_shared_lists') %>
    </p>
  <% end %>

  <%= link_to request.referer || root_path, class: 'index-list-back-btn' do %>
    <span class="button-content"><%= t('lists_page.back') %></span>
  <% end %>
</div>
