<div class="index-lists-page">
  <h1><%= t('lists_page.index.title') %></h1>

  <% if @lists.any? %>
    <ul id="lists">
      <% current_user.own_lists.each do |list| %>
        <li>
          <%= link_to list.name, list_path(list) %>
          <br>
          <small><%= t('lists_page.index.created_on') %>: <%= list.created_at.strftime(t('lists_page.index.date_format')) %></small>
          <%= button_to t('lists_page.index.delete_button'), list_path(list), method: :delete, class: 'btn btn-danger', data: { confirm: t('lists_page.index.delete_confirm') } %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>
      <%= t('lists_page.index.no_lists') %>
      <%= link_to t('lists_page.index.create_new'), new_list_path(current_user), class: 'btn btn-primary' %>
    </p>
  <% end %>

  <h1>Friends Shared Lists</h1>
  <% if current_user.saved_lists.any? %>
    <ul id="friends-lists">
      <% current_user.saved_lists.each do |saved_list| %>
        <li>
          <%= link_to saved_list.list.name, list_path(saved_list.list) %>
          <br>
          <small>
            <%= t('lists_page.index.shared_on') %>: <%= saved_list.created_at.strftime(t('lists_page.index.date_format')) %>
          </small>
          <%= button_to t('lists_page.index.delete_button'), remove_saved_list_path(saved_list.list), method: :delete, class: 'btn btn-danger', data: { confirm: t('lists_page.index.delete_confirm') } %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No shared lists yet.</p>
  <% end %>
  <%= link_to t('list_page.back'), request.referer || root_path, class: 'btn btn-secondary list-back-btn' %>
</div>
