<!DOCTYPE html>
<html>
  <body class="categories-page">
    <main>
      <h1><%= t('select_category') %></h1>
      <div class="button-grid">
        <%= link_to drink_path, class: "btn btn-drink" do %>
          <span class="btn-text"><strong><%= t('categories.drinks') %></strong></span>
        <% end %>

        <%= link_to meat_path, class: "btn btn-meat" do %>
          <span class="btn-text"><strong><%= t('categories.meat') %></strong></span>
        <% end %>

        <%= link_to fish_path, class: "btn btn-fish" do %>
          <span class="btn-text"><strong><%= t('categories.fish') %></strong></span>
        <% end %>

        <%= link_to bakery_path, class: "btn btn-bakery" do %>
          <span class="btn-text"><strong><%= t('categories.bakery') %></strong></span>
        <% end %>

        <%= link_to cold_cuts_and_cheeses_path, class: "btn btn-cheese" do %>
          <span class="btn-text"><strong><%= t('categories.cold_cuts_and_cheese') %></strong></span>
        <% end %>

        <%= link_to car_path, class: "btn btn-car" do %>
          <span class="btn-text"><strong><%= t('categories.car') %></strong></span>
        <% end %>

        <%= link_to frozen_path, class: "btn btn-frozen" do %>
          <span class="btn-text"><strong><%= t('categories.frozen') %></strong></span>
        <% end %>

        <%= link_to milk_and_eggs_path, class: "btn btn-milk" do %>
          <span class="btn-text"><strong><%= t('categories.milk_and_eggs') %></strong></span>
        <% end %>

        <%= link_to fruits_path, class: "btn btn-fruit" do %>
          <span class="btn-text"><strong><%= t('categories.fruits') %></strong></span>
        <% end %>

        <%= link_to vegetables_path, class: "btn btn-veggies" do %>
          <span class="btn-text"><strong><%= t('categories.veggies') %></strong></span>
        <% end %>

        <%= link_to hygiene_path, class: "btn btn-hygiene" do %>
          <span class="btn-text"><strong><%= t('categories.hygiene') %></strong></span>
        <% end %>

        <%= link_to cleaning_path, class: "btn btn-cleaning" do %>
          <span class="btn-text"><strong><%= t('categories.cleaning') %></strong></span>
        <% end %>

        <%= link_to pasta_path, class: "btn btn-pasta" do %>
          <span class="btn-text"><strong><%= t('categories.pasta') %></strong></span>
        <% end %>

        <%= link_to snacks_path, class: "btn btn-snacks" do %>
          <span class="btn-text"><strong><%= t('categories.snacks') %></strong></span>
        <% end %>

        <%= link_to pharmacy_path, class: "btn btn-pharmacy" do %>
          <span class="btn-text"><strong><%= t('categories.pharmacy') %></strong></span>
        <% end %>

        <%= link_to baby_path, class: "btn btn-baby" do %>
          <span class="btn-text"><strong><%= t('categories.baby') %></strong></span>
        <% end %>

        <%= link_to pets_path, class: "btn btn-pets" do %>
          <span class="btn-text"><strong><%= t('categories.pets') %></strong></span>
        <% end %>

         <%= link_to new_product_path, class: "btn btn-new" do %>
          <span class="btn-text"><strong><%= t('categories.new_product') %></strong></span>
        <% end %>
      </div>
    </main>
  </body>
  <div class="categ-back-btn">
    <%= link_to t('category_page.back'), request.referer || root_path, class: 'btn btn-secondary categ-back-btn' %>
  </div>
</html>
