<!DOCTYPE html>
<html>
    <main>
      <h1>Create a New List</h1>
      <div class="button-container">
      <%= link_to drink_path, class: "custom-button btn" do %>
          <strong>DRINKS</strong>
          <div id="container-stars-drink">
            <div id="stars-drink"></div>
          </div>
          <div id="glow-drink">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        <% end %>

        <%= link_to meat_path, class: "custom-button btn" do %>
          <strong>MEAT</strong>
          <div id="container-stars-meat">
            <div id="stars-meat"></div>
          </div>
          <div id="glow-meat">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        <% end %>

         <%= link_to fish_path, class: "custom-button btn" do %>
          <strong>FISH</strong>
          <div id="container-stars-meat">
            <div id="stars-fish"></div>
          </div>
          <div id="glow-fish">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        <% end %>

         <%= link_to bakery_path, class: "custom-button btn" do %>
          <strong>BAKERY</strong>
          <div id="container-stars-bakery">
            <div id="stars-bakery"></div>
          </div>
          <div id="glow-bakery">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        <% end %>

        <%= link_to cold_cuts_and_cheeses_path, class: "custom-button btn" do %>
         <strong>COLD CUTS AND CHEESE</strong>
         <div id="container-stars-cold-cuts-and-cheeses">
           <div id="stars-cold-cuts-and-cheeses"></div>
         </div>
         <div id="glow-cold-cuts-and-cheeses">
           <div class="circle"></div>
           <div class="circle"></div>
        </div>
        <% end %>

        <%= link_to car_path, class: "custom-button btn" do %>
          <strong>CAR</strong>
          <div id="container-stars-car">
            <div id="stars-car"></div>
          </div>
          <div id="glow-car">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        <% end %>

           <%= link_to frozen_path, class: "custom-button btn" do %>
          <strong>FROZEN</strong>
          <div id="container-stars-frozen">
            <div id="stars-frozen"></div>
          </div>
          <div id="glow-frozen">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        <% end %>

        <%= link_to milk_and_eggs_path, class: "custom-button btn" do %>
          <strong>MILK & EGGS</strong>
          <div id="container-stars-milk-eggs">
            <div id="stars-milk-eggs"></div>
          </div>
          <div id="glow-milk-eggs">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        <% end %>

        <%= link_to fruits_path, class: "custom-button btn" do %>
          <strong>FRUITS</strong>
          <div id="container-stars-fruits">
            <div id="stars-fruits"></div>
          </div>
          <div id="glow-fruits">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        <% end %>

        <%= link_to vegetables_path, class: "custom-button btn" do %>
          <strong>VEGGIES</strong>
          <div id="container-stars-vegetables">
            <div id="stars-vegetables"></div>
          </div>
          <div id="glow-vegetables">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        <% end %>

          <%= link_to hygiene_path, class: "custom-button btn" do %>
          <strong>HYGIENE</strong>
          <div id="container-stars-hygiene">
            <div id="stars-hygiene"></div>
          </div>
          <div id="glow-hygiene">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        <% end %>

        <%= link_to cleaning_path, class: "custom-button btn" do %>
          <strong>CLEANING</strong>
          <div id="container-stars-cleaning">
            <div id="stars-cleaning"></div>
          </div>
          <div id="glow-cleaning">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        <% end %>
      </div>
    </main>
  </body>
</html>
