<!-- app/views/lists/show.html.erb -->
<h1><%= @list.name %></h1>
<p><%= @list.description %></p>

<ul>
  <% @list.products.each do |product| %>
    <% items_list = @list.products_lists.find_by(product_id: product.id) %>
    <li><%= product.name %>: <%= items_list.quantity if items_list %></li>
  <% end %>
</ul>

<%= turbo_frame_tag dom_id(@list) do %>
  <%= link_to 'Back to Lists', user_lists_path(@list.user) %>
  <%= link_to 'Edit List', edit_user_list_path(@list.user, @list) %>
  <%= link_to 'Delete', user_list_path(@list.user, @list), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
<% end %>
