<h1>Your Conversations</h1>

<ul>
  <% @conversations.each do |conversation| %>
    <li>
      <%= link_to "Conversation with #{conversation.other_user(current_user).email}", user_conversation_path(current_user, conversation) %>
    </li>
  <% end %>
</ul>

<h2>Start a New Conversation</h2>

<%= form_with url: user_conversations_path(current_user), method: :post do |f| %>
  <div class="form-group">
    <%= label_tag :receiver_id, "Select a user to start a conversation with:" %>
    <%= select_tag :receiver_id, options_from_collection_for_select(User.where.not(id: current_user.id), :id, :name), prompt: "Choose a user", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Start Conversation", class: "btn btn-primary" %>
  </div>
<% end %>
