<div class="DM-page">
   <div class="index-dm-back-button">
    <%= link_to request.referer || root_path, class: 'index-dm-back-arrow button' do %>
      <div class="index-dm-button-box">
        <span class="index-dm-button-elem">
          <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
            ></path>
          </svg>
        </span>
        <span class="index-dm-button-elem">
          <svg viewBox="0 0 46 40">
            <path
              d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
            ></path>
          </svg>
        </span>
      </div>
    <% end %>
  </div>

  <!-- Page Header -->
  <header class="text-center mb-4">
    <h1 class="display-4"><%= t('dm_page.title') %></h1>
  </header>

  <!-- Search for a Friend by Email -->
  <section class="mb-5">
    <h2 class="h4"><%= t('dm_page.search_for_friend') %></h2>
    <div class="card shadow-sm p-4">
      <%= form_with url: search_users_path, method: :get, local: true, class: "needs-validation search" do |f| %>
        <div class="form-group mb-3 search">
          <div class="search__input-container">
            <%= f.text_field :email, placeholder: t('dm_page.friend_email_placeholder'), class: "form-control search__input" %>
            <button type="submit" class="dm-search__button">
              <svg
                viewBox="0 0 16 16"
                class="bi bi-search"
                fill="currentColor"
                height="16"
                width="16"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
                ></path>
              </svg>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </section>

  <!-- Friend Requests -->
  <section class="mb-5">
    <h3 class="h4"><%= t('dm_page.friend_requests') %></h3>
    <% if @pending_friend_requests.present? %>
      <ul class="list-group">
        <% @pending_friend_requests.each do |friendship| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span><%= friendship.user.email %></span>
            <div>
              <%= button_to t('dm_page.accept'), accept_user_friendship_path(user_id: current_user.id, id: friendship.id), method: :patch, class: "btn btn-success btn-sm me-2" %>
              <%= button_to t('dm_page.reject'), reject_user_friendship_path(user_id: current_user.id, id: friendship.id), method: :patch, class: "btn btn-danger btn-sm" %>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-muted"><%= t('dm_page.no_friend_requests') %></p>
    <% end %>
  </section>

  <!-- Start a New Conversation -->
  <section class="mb-5">
    <h2 class="h4"><%= t('dm_page.start_new_conversation') %></h2>
    <% if @friends_without_conversations.any? %>
      <ul class="list-group">
        <% @friends_without_conversations.each do |friend| %>
          <li class="list-group-item d-flex align-items-center">
            <%= image_tag(friend.user_photo.variant(resize_to_limit: [200, 200], saver: { quality: 85 }).processed, class: "rounded-circle me-3", alt: "#{friend.name}'s profile picture") if friend.user_photo.attached? %>
            <%= link_to friend.name, new_user_conversation_path(current_user, friend_id: friend.id), class: "text-primary fw-bold" %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-muted"><%= t('dm_page.no_friends_for_conversation') %></p>
    <% end %>
  </section>

  <!-- Open Conversations -->
  <section>
    <h1 class="h4"><%= t('dm_page.open_conversations') %></h1>
    <ul class="list-group">
      <% @conversations.each do |conversation| %>
        <li id="<%= dom_id(conversation) %>" class="list-group-item d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <% user = conversation.other_user(current_user) %>
            <% if user.user_photo.attached? %>
              <%= image_tag user.user_photo.variant(resize_to_limit: [200, 200], saver: { quality: 85 }).processed, class: "rounded-circle me-3", alt: "#{user.name}'s profile picture" %>
            <% else %>
              <%= image_tag "default-avatar.jpg", class: "rounded-circle me-3", alt: "Default profile picture" %>
            <% end %>
            <%= link_to " #{user.name}", user_conversation_path(current_user, conversation), class: "dm-page-conversation-username" %>
          </div>
          <%= button_to user_conversation_path(current_user, conversation), method: :delete, data: { turbo_confirm: t('dm_page.delete_confirm') }, class: "message-delete-button" do %>
            <span class="message-delete-button__text"><%= t('dm_page.delete_conversation') %></span>
            <span class="message-delete-button__icon">
              <svg class="svg" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg">
                <path d="M112,112l20,320c.95,18.49,14.4,32,32,32H348c17.67,0,30.87-13.51,32-32l20-320" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
                <line style="stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px" x1="80" x2="432" y1="112" y2="112"></line>
                <path d="M192,112V72h0a23.93,23.93,0,0,1,24-24h80a23.93,23.93,0,0,1,24,24h0v40" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
                <line style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" x1="256" x2="256" y1="176" y2="400"></line>
                <line style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" x1="184" x2="192" y1="176" y2="400"></line>
                <line style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" x1="328" x2="320" y1="176" y2="400"></line>
              </svg>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>

  <div class="index-dm-back-button">
    <%= link_to request.referer || root_path, class: 'index-dm-back-btn button' do %>
      <span class="button-content"><%= t('chat_page.back') %></span>
    <% end %>
  </div>
</div>
