<div class="friend-page">
  <h1><%= @user.name %>'s Profile</h1>

  <div class="profile-container">
    <% if @user.user_photo.attached? %>
      <%= image_tag @user.user_photo.variant(resize_to_limit: [150, 150]), alt: "#{@user.name}'s photo" %>
    <% else %>
      <p>No profile picture available.</p>
    <% end %>

    <p>Name: <%= @user.name %></p>
    <p>Email: <%= @user.email %></p>
  </div>

 <div class="centered-container">
  <% if current_user.friend_request_exists?(@user) %>
    <p>Friend request already sent.</p>
  <% elsif !current_user.friend?(@user) %>
    <%= button_to "Add Friend", user_friendships_path(friend_id: user.id), method: :post, class: "btn btn-secondary" %>
  <% else %>
    <p>You are friends. <i class="fa-regular fa-face-smile"></i></p>
  <% end %>
</div>
