<div class="category-page">
  <h1><%= t('car_page.title') %></h1>

  <!-- Back and See Cart Buttons -->
  <div class="navigation-buttons">
    <%= link_to t('car_page.back'), new_list_path, class: 'btn btn-secondary' %>
    <%= link_to t('car_page.see_cart'), cart_path, class: 'btn btn-primary' %>
  </div>

  <!-- Centered Search Bar -->
  <div class="search-bar-container">
    <%= form_with url: car_path, method: :get, local: true, class: "search-form" do |form| %>
      <%= form.text_field :query, value: params[:query], placeholder: t('car_page.search_placeholder'), class: "search-input" %>
      <%= form.submit t('car_page.search'), class: "btn search-btn btn-primary" %>
    <% end %>
  </div>

  <!-- Car Products Display -->
  <% if @car_products.any? %>
    <div class="category-grid">
      <% @car_products.each do |car_product| %>
        <div class="category-item">
          <p><%= I18n.t("product_names.#{car_product.name.parameterize.underscore}") %></p>

          <% image_filename = "#{car_product.name.parameterize}" %>
          <% if File.exist?(Rails.root.join("app/assets/images/#{image_filename}.jpg")) %>
            <%= image_tag "#{image_filename}.jpg", class: "product-image", alt: car_product.name %>
          <% elsif File.exist?(Rails.root.join("app/assets/images/#{image_filename}.png")) %>
            <%= image_tag "#{image_filename}.png", class: "product-image", alt: car_product.name %>
          <% else %>
            <p><%= t('car_page.no_image') %></p>
          <% end %>

          <!-- Add to Cart Form -->
          <div class="button-container">
            <%= form_with url: add_product_cart_path, method: :post, remote: true, html: { id: "add-to-cart-form-#{car_product.id}" } do |form| %>
              <%= form.hidden_field :product_id, value: car_product.id %>
              <label class="quantity-label" for="quantity-<%= car_product.id %>"><%= t('car_page.quantity') %>:</label>
              <%= form.number_field :quantity, min: 1, value: 1, id: "quantity-#{car_product.id}" %>
              <button class="add-to-cart" type="submit">
                <i class="fas fa-shopping-cart"></i> <%= t('car_page.add_to_cart') %>
              </button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p><%= t('car_page.no_products') %></p>
  <% end %>

    <!-- Back and See Cart Buttons -->
  <div class="navigation-buttons">
    <%= link_to t('car_page.back'), new_list_path, class: 'btn btn-secondary' %>
    <%= link_to t('car_page.see_cart'), cart_path, class: 'btn btn-primary' %>
  </div>

  <!-- Font Awesome Script -->
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</div>
