<div class="drink-page">
  <h1>Drinks</h1>
  <%= link_to 'Back', new_list_path, class: 'btn btn-secondary' %>
  <%= link_to 'See Cart', cart_path, class: 'btn btn-primary' %>

   <div class="search-bar">
    <%= form_with url: drink_path, method: :get, local: true do |form| %>
      <%= form.label :query, "Search for a product:", class: "search-label" %>
      <%= form.text_field :query, value: params[:query], placeholder: "Type to search...", class: "search-input" %>
      <%= form.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @drinks_products.any? %>
    <div class="drink-grid">
      <% @drinks_products.each do |drink_product| %>
        <div class="drink-item">
          <p><%= drink_product.name %></p>

          <% image_filename = "#{drink_product.name.parameterize}" %>

          <% if File.exist?(Rails.root.join("app/assets/images/#{image_filename}.jpg")) %>
            <%= image_tag "#{image_filename}.jpg", class: "product-image", alt: drink_product.name %>
          <% elsif File.exist?(Rails.root.join("app/assets/images/#{image_filename}.png")) %>
            <%= image_tag "#{image_filename}.png", class: "product-image", alt: drink_product.name %>
          <% else %>
            <p>No image available</p>
          <% end %>

          <!-- Use remote form submission -->
          <%= form_with url: add_product_cart_path, method: :post, remote: true, html: { id: "add-to-cart-form-#{drink_product.id}" } do |form| %>
            <%= form.hidden_field :product_id, value: drink_product.id %>

            <label class="quantity-label" for="quantity-<%= drink_product.id %>">Quantity:</label>
            <%= form.number_field :quantity, min: 1, value: 1, id: "quantity-#{drink_product.id}" %>

            <button class="btn add-to-cart" type="submit">
              <i class="fas fa-shopping-cart"></i> Add to Cart
            </button>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No drink products available.</p>
  <% end %>

  <div class="navigation-buttons">
    <%= link_to 'Back', new_list_path, class: 'btn btn-secondary' %>
    <%= link_to 'See Cart', cart_path, class: 'btn btn-primary' %>
  </div>

  <!-- Font Awesome Script -->
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</div>
