<div class="drink-page">
  <h1>Drinks</h1>

  <% if @drinks_products.any? %>
    <div class="drink-grid">
      <% @drinks_products.each do |drink_product| %>
        <div class="drink-item">
          <p><%= drink_product.name %></p>

          <% image_filename = "#{drink_product.name.parameterize}" %>

          <% if File.exist?(Rails.root.join("app/assets/images/#{image_filename}.jpg")) %>
            <%= image_tag "#{image_filename}.jpg", class: "product-image", alt: drink_product.name %>
          <% elsif File.exist?(Rails.root.join("app/assets/images/#{image_filename}.png")) %>
            <%= image_tag "#{image_filename}.png", class: "product-image", alt: drink_product.name %>
          <% else %>
            <p>No image available</p>
          <% end %>

          <%= form_with url: add_product_cart_path, method: :post, local: true, html: { id: "add-to-cart-form-#{drink_product.id}" } do |form| %>
            <%= form.hidden_field :product_id, value: drink_product.id %>
            <%= form.number_field :quantity, min: 1, value: 1 %>
            <%= form.submit "Add to Cart", class: 'btn' %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No drink products available.</p>
  <% end %>

  <div class="navigation-buttons">
    <%= link_to 'Back', new_list_path, class: 'btn btn-secondary' %>
    <%= link_to 'See Cart', cart_path, class: 'btn btn-primary' %>
  </div>
</div>
