<div class="drink-page">
  <h1><%= t('drinks_page.title') %></h1>
  <div class="navigation-buttons">
     <%= link_to t('drinks_page.back'), new_list_path, class: 'btn btn-secondary' %>
     <%= link_to t('drinks_page.see_cart'), cart_path, class: 'btn btn-primary' %>
  </div>

  <!-- Search Form -->
  <div class="search-bar">
    <%= form_with url: drink_path, method: :get, local: true do |form| %>
      <%= form.label :query, t('drinks_page.search_label'), class: "search-label" %>
      <%= form.text_field :query, value: params[:query], placeholder: t('drinks_page.search_placeholder'), class: "search-input" %>
      <%= form.submit t('drinks_page.search_button'), class: "btn btn-primary search-btn" %>
    <% end %>
  </div>

  <!-- Drink Grid -->
  <% if @drinks_products.any? %>
    <div class="drink-grid">
      <% @drinks_products.each do |drink_product| %>
        <div class="drink-item">
          <p><%= I18n.t("product_names.#{drink_product.name.parameterize.underscore}") %></p>

          <% image_filename = "#{drink_product.name.parameterize}" %>

          <% if File.exist?(Rails.root.join("app/assets/images/#{image_filename}.jpg")) %>
            <%= image_tag "#{image_filename}.jpg", class: "product-image", alt: drink_product.name %>
          <% elsif File.exist?(Rails.root.join("app/assets/images/#{image_filename}.png")) %>
            <%= image_tag "#{image_filename}.png", class: "product-image", alt: drink_product.name %>
          <% else %>
            <p><%= t('drinks_page.no_image') %></p>
          <% end %>

          <!-- Add to Cart Form -->
       <div class="button-container">
          <%= form_with url: add_product_cart_path, method: :post, remote: true, html: { id: "add-to-cart-form-#{drink_product.id}" } do |form| %>
            <%= form.hidden_field :product_id, value: drink_product.id %>

            <label class="quantity-label" for="quantity-<%= drink_product.id %>"><%= t('drinks_page.quantity_label') %>:</label>
            <%= form.number_field :quantity, min: 1, value: 1, id: "quantity-#{drink_product.id}" %>

            <button class="btn add-to-cart" type="submit">
              <i class="fas fa-shopping-cart"></i> <%= t('drinks_page.add_to_cart') %>
            </button>
          <% end %>
       </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p><%= t('drinks_page.no_drinks') %></p>
  <% end %>

  <div class="navigation-buttons">
    <%= link_to t('drinks_page.back'), new_list_path, class: 'btn btn-secondary' %>
    <%= link_to t('drinks_page.see_cart'), cart_path, class: 'btn btn-primary' %>
  </div>

  <!-- Font Awesome Script -->
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</div>
