<div class="add_product_page">
  <div class="container">
    <h1>Add a New Product</h1>
    <%= form_with(model: @product, local: true) do |f| %>
      <div>
        <%= f.label :name, "Product Name" %>
        <%= f.text_field :name, required: true %>
      </div>

      <div>
        <%= f.label :price, "Price" %>
        <%= f.number_field :price, step: 0.01, required: true %>
      </div>

      <div>
        <%= f.label :category_id, "Category" %>
        <%= f.collection_select :category_id, @categories, :id, :name, prompt: "Select a category" %>
      </div>

      <div>
        <%= f.submit "Add Product" %>
      </div>
    <% end %>
  </div>
  <%= link_to t('new_product_page.back'), request.referer || root_path, class: 'btn btn-secondary new-back-btn' %>
</div>
