<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %> <!-- Ensure application.js is included -->
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render "shared/navbar" %>

    <!-- Ensure flash messages are rendered inside a turbo_frame_tag -->
    <%= turbo_frame_tag "flash" do %>
      <%= render "shared/flash_messages" %>
    <% end %>

    <header>
      <nav>
        <%= link_to 'Cart', cart_path %> <!-- Added Cart Link -->
        <!-- Add more links as needed -->
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
