<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %> <!-- This line should include application.js -->
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <header>
      <nav>
        <%= link_to 'Home', root_path %>
        <%= link_to 'Cart', cart_path %> <!-- Added Cart Link -->
        <!-- Add more links as needed -->
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
